registry=http://tfs2:8080/tfs/SD4-Collection/_packaging/Common_npm/npm/registry/
always-auth=true

; 將這個驗證權杖視為密碼。請不要將其與任何人共用，包括 Microsoft 支援服務。此權杖最晚會在 2019/8/1 到期。
; 開始驗證權杖
//tfs2:8080/tfs/SD4-Collection/_packaging/Common_npm/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkxiV3JvZ2JONVRpTUN3elRlTDFEeTNMdnAwayJ9.eyJuYW1laWQiOiI2NTdlYWNiOS1hMzc3LTQ1NjgtOWVkNC03YzVkYWRmMzVjNDkiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMTIzZGJiNTUtZTg3ZS00NTM1LThhNGEtM2NkYmUzNDBjMzJhIiwic2lkIjoiMzlkM2QwYTQtMjNiYy00NTNmLTkzMjktN2QyNmViMmYwMGE0IiwiaXNzIjoidGZzMiIsImF1ZCI6InRmczIiLCJuYmYiOjE1NTY4NzAxMTAsImV4cCI6MTU2NDY0NjExMH0.EKOUA-QymGC8twPloTFnyTE7cbX0Jc0Qn_ByCvc3iXz5n7Pe3_dNKvWGR6dgf2U39lBXy20iK73VpkuJSbTmo1q19kyVwrN1jOuiSkla0zWCGqyJ1us9Q7hfZcFEFvJ5W4ytA8SIf7B8nUM90hMrNk02hxjxoC-v2vGfjtCusewNe40ifHNOKY6NW6imqhxqQTM-xeblxr9OUapHBk9-CymFKlAXcnYvZcWVh3uW5NWKXVf1KtWrbYqzwp50gFcIE-DMbSMAJwkSL1dSSVijkwCZTYNgh3WJ5oZGcGxwF2P3SNNy1Nx77mrmE1acAJKWx0r3FkZM34JphuKiJw_Rbw
//tfs2:8080/tfs/SD4-Collection/_packaging/Common_npm/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkxiV3JvZ2JONVRpTUN3elRlTDFEeTNMdnAwayJ9.eyJuYW1laWQiOiI2NTdlYWNiOS1hMzc3LTQ1NjgtOWVkNC03YzVkYWRmMzVjNDkiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMTIzZGJiNTUtZTg3ZS00NTM1LThhNGEtM2NkYmUzNDBjMzJhIiwic2lkIjoiMzlkM2QwYTQtMjNiYy00NTNmLTkzMjktN2QyNmViMmYwMGE0IiwiaXNzIjoidGZzMiIsImF1ZCI6InRmczIiLCJuYmYiOjE1NTY4NzAxMTAsImV4cCI6MTU2NDY0NjExMH0.EKOUA-QymGC8twPloTFnyTE7cbX0Jc0Qn_ByCvc3iXz5n7Pe3_dNKvWGR6dgf2U39lBXy20iK73VpkuJSbTmo1q19kyVwrN1jOuiSkla0zWCGqyJ1us9Q7hfZcFEFvJ5W4ytA8SIf7B8nUM90hMrNk02hxjxoC-v2vGfjtCusewNe40ifHNOKY6NW6imqhxqQTM-xeblxr9OUapHBk9-CymFKlAXcnYvZcWVh3uW5NWKXVf1KtWrbYqzwp50gFcIE-DMbSMAJwkSL1dSSVijkwCZTYNgh3WJ5oZGcGxwF2P3SNNy1Nx77mrmE1acAJKWx0r3FkZM34JphuKiJw_Rbw
; 結束驗證權杖