@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
 

  nb-card-body {
    overflow: visible;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .form-group label {
    padding: 0 0 0.75rem;
  }

  
  @include media-breakpoint-down(xs) {
    button:not(.btn-icon) {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
    }
  }
}
