<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>明細</nb-card-header>
        <nb-card-body>
          <div class="row full-name-inputs">
            <div class="col-sm-6 input-group">
              <label for="account" class="col-sm-4 col-form-label">輸入項目1</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input1" placeholder="輸入項目1">
              </div>
            </div>
            <div class="col-sm-6 input-group">
              <label for="account" class="col-sm-4 col-form-label">輸入項目2</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input2" placeholder="輸入項目2" >
              </div>
            </div>
          </div>
          <div class="row full-name-inputs">
            <div class="col-sm-6 input-group">
              <label for="account" class="col-sm-4 col-form-label">輸入項目3</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input3" placeholder="輸入項目3">
              </div>
            </div>
            <div class="col-sm-6 input-group">
              <label for="account" class="col-sm-4 col-form-label">輸入項目4</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input4" placeholder="輸入項目4">
              </div>
            </div>
          </div>
        
          <div class="form-group row">
            <div class="offset-sm-6 col-sm-3">
              <button type="button" class="btn btn-sm btn-warning" (click)="btnEdit($event)">編輯</button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  
  
  </div>